/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    background-color: var(--darkblue-main-background);
    margin:0;
    padding:0;
    height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color:var(--white-color);
}
a:hover {
    color: var(--accent-cyan-color);
}

/* TYPOGRAPHY */
:root{
/*SASS VARIABLES*/
    --darkblue-intro-email: hsl(217, 28%, 15%);
    --darkblue-main-background: hsl(218, 28%, 13%);
    --darkblue-footer-background: hsl(216, 53%, 9%);
    --darkblue-review-background: hsl(219, 30%, 18%);

    --accent-cyan-color: hsl(176, 68%, 64%); /*inside call-to-action gradient)*/
    --accent-blue-color: hsl(198, 60%, 50%); /*(inside call-to-action gradient)*/
    --accent-red-color: hsl(0, 100%, 63%);
    
    --white-color: hsl(0, 0%, 100%);
}
/*
LAYOUT
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

.hidden {display: none;}

/*navbar*/
.fixed-top a{
    color:#fff;
}
.fixed-top.scrolled {
    background-color: #fff !important;
}
.fixed-top.scrolled a {
    color: #000;
    font-weight: 600;
}

#showcase {background-color:var(--darkblue-intro-email);}

#qanda {margin-bottom: 150px;}
#reviews .card {background-color: var(--darkblue-review-background);}
#reviews img{
    width: 40px; height: 40px;
    border-radius: 20px;
}

.list-group {border-radius: 5px;}
.list-group-item {
    background-color: transparent;
    color: #fff;
}
.newsletter .card {
    position: absolute;
    z-index: 1;
    transform: translateY(-40%);
    width: 70vw;
}

.btn {
    width: 200px; height: 50px; 
    border-radius: 25px;
    background: linear-gradient(to right, var(--accent-cyan-color),var(--accent-blue-color));
    border: 1px solid linear-gradient(to right, var(--accent-cyan-color),var(--accent-blue-color));
    font-weight: 700;
    color: var(--white-color);
}
.btn:hover{background: var(--accent-cyan-color);}

input[type="email"], input[type="text"]{
    width: 100%; height: 46px; 
    border-radius: 25px;}

#footer-container {position: relative;}

.map-container {max-height: 40vh; height: 300px;}
#map {width: 100%; height:100%; 
    min-height:100%; border-radius: 10px;}

.profile__name {
    font-size: 12px;
    padding-left: 2rem;
}
.profile__position {
    font-size: 10px;
}

p.small-font {
    font-size: 14px;
}
.accordion-button, .accordion-item {color: #fff; background-color: var(--darkblue-review-background);}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
}
.accordion-button:focus {
    border-color: var(--accent-cyan-color);
}

.news-input {display:flex; gap: 10px;}

#footer-container {background-color: var(--darkblue-footer-background);}

.newsletter .card{background-color: var(--darkblue-review-background);}

@media(max-width: 756px) {
    .showcase p {width: 70vw;}
    #features p {width: 60vw;}
}

@media(max-width: 576px) {
    .newsletter .card {
        width: 80%;
    }
    .news-input {
        width: 200px; height: 50px; 
    }
}